@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

div.sticky_a {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    background-color: whitesmoke;
    padding: 20px;
    font-size: 20px;
	z-index: 5;
}

body {
  background-color: whitesmoke;
  font-family: "Lato", sans-serif;
  align-items: center;
  text-align: center;
  /* padding-left: 5%;
  padding-right: 5%; */
}
.features {
   padding-left: 5%;
  padding-right: 5%;
}
.grid-wrapper {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

a.box {
  border-radius:5px;
  color: black;
  background-color: #9b9b9b;
  display: block;
  width: 100%;
  height: 150px;
  margin-left: 0%;
  margin-right: 0%;
  /* overflow: hidden; */
  position: relative;
  cursor: pointer;
  /* font-family: 'Ubuntu', sans-serif; */
  align-items: center;
}

a.bool_box {
  color: black;
  background-color: #9b9b9b;
  display: block;
  width: 100%;
  height: 100px;
  margin-left: 0%;
  margin-right: 0%;
  /* overflow: hidden; */
  position: relative;
  cursor: pointer;
  /* font-family: 'Ubuntu', sans-serif; */
  align-items: center;
}

.content,
.bool_content {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  padding: 0 4em;
  z-index: 2;
  height: 2em;
  transition: all 0.2s ease;
  align-items: center;
}

a:hover .content {
  height: 8em;
  transition: all 0.2s ease;
}

h1 {
  margin: 0 0 5px 0;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0 0 5px 0;
  text-align: center;
}

.description {
  height: 0;
  opacity: 0;
  visibility: hidden;
  margin: 5px;
  line-height: 1em;
  margin-bottom: 20px;
  text-align: center;
}

a:hover p {
  height: 3em;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.link {
  height: 1.5em;
  line-height: 1.5;
  transition: all 0.2s ease;
  display: block;
  font-size: 0.85em;
  font-style: italic;
}

a:hover .link {
  transition: all 0.2s ease;
}

.accordion {
  background-color: #9b9b9b;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 2.5%;
  font-family: "Ubuntu", sans-serif;
}
*/
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  height: fit-content;
  padding: 0 18px;
  background-image: linear-gradient(180deg, #9b9b9b, whitesmoke);
  display: none;
  overflow: hidden;
  color: black;
  margin-bottom: 20px;
}

button.accordion.active {
  margin-bottom: 0px;
}

a {
	text-decoration: none;
}

.content {
	padding-left: 75px;
}

.clickme {
  background-color:#6b6b6b;
  color:black;
  padding: 8px 20px;
  text-decoration:none;
  border-radius:5px;
  cursor:pointer;
}
.clickme:hover {
  color: white;
  background-color: black;
}